opencv-python
packaging
soundfile
dlib
imutils
pyaudio
pyaml
google-cloud-speech==1.3.2
dialogflow
google-api-python-client
pandas
dill
requests
schedule
func_timeout
datetimerange
wget
pytrees
tensorflow
openai
python-dotenv
transformers