<launch>
    
	<arg name="instance_id" default="default"/> 
    
	<param name="instance_id" value="$(arg instance_id)"/> 
    <rosparam file="$(find harmoni_pytree)/config/massi_configuration.yaml" subst_value="True"/>

    <!-- In order to launch visual_bg we need the following services from HARMONI -->
    <include file="$(find harmoni_speaker)/launch/speaker_service.launch"></include>
    
    <include file="$(find audio_play)/launch/play.launch">
        <arg name="do_timestamp" value = "false"/> 
        <arg name="format" value = "wave"/>
        <arg name="sample_rate" value="22050"/>
    </include> 
    
    <include file="$(find harmoni_microphone)/launch/microphone_service.launch"></include>
    <include file="$(find harmoni_tts)/launch/tts_service.launch"></include>
    <include file="$(find harmoni_bot)/launch/bot_service.launch"></include>
    <include file="$(find harmoni_stt)/launch/stt_google_service.launch">
        <arg name="instance_id" value="default"/>
    </include>
    <include file="$(find harmoni_face)/launch/face_service.launch"></include>


    <node pkg="harmoni_pytree" type="pytree_massi_pc.py" name="harmoni_pytree_default" output="screen"/>
    
</launch>
