<launch>
<!-- record topics listed below -->
<arg name="topics_name" default="/audio/audio /harmoni/actuating/face/default/expressing /misty_robot/gesture/play /tts_default/goal /speaker_default/goal"/>

<!-- record topics -->
<node name="record_topics_for_verification" pkg="rosbag" type="record" output="screen"
      args="-o /root/harmoni_catkin_ws/src/HARMONI/logs/ $(arg topics_name)"/>
</launch>